.git
.github
node_modules
vendor
.env
.env.backup
.env.local
.env.production
!.env.example
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.DS_Store
